/* General Styles */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

:root {
    --background-color: #e6e6fa;
    --text-color: #222222;
    --primary-color: #334b6e;
    --secondary-color: #e0f7fa;
    --accent-color: #007bff;
    --header-footer-bg: #36454f;
    --header-footer-text: #e6e6fa;
    --footer-link-color: var(--background-color);
    --project-bg: #b7bfd2;
    --project-border: #bbb;
    --icon-hover-color: #a1a1af; /* Light theme icon hover color */
    --button-bg-color: var(--background-color); /* Light theme button background color */
    --button-text-color: var(--header-footer-bg); /* Light theme button text color */
    --button-hover-bg-color: #121212; /* Dark theme background color */
    --button-hover-text-color: #ffcc00; /* Dark theme header/footer background color */
}

body.dark {
    --background-color: #121212;
    --text-color: #ffffff;
    --primary-color: #f8c600;
    --header-footer-bg: #1e1e1e;
    --header-footer-text: #ffcc00;
    --footer-link-color: #f8c600;
    --project-bg: #333333;
    --project-border: #555555;
    --icon-hover-color: #ad8a00; /* Dark theme icon hover color */
    --button-bg-color: var(--background-color); /* Dark theme button background color */
    --button-text-color: var(--primary-color); /* Dark theme button text color */
    --button-hover-bg-color: #e6e6fa; /* Light theme background color */
    --button-hover-text-color: #36454f; /* Light theme header/footer background color */
}

header {
    background-color: var(--header-footer-bg);
    color: var(--header-footer-text);
    padding: 1em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s, color 0.3s;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style: none;
    padding: 0;
    text-align: center;
    margin: 0;
    display: flex;
}

.nav-links li {
    display: inline;
    margin: 0 1em;
}

.nav-links li a {
    color: var(--header-footer-text);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-links li a:hover {
    text-decoration: underline;
}

.social-icons {
    display: flex;
    align-items: center;
}

.social-icons a {
    color: var(--header-footer-text);
    margin: 0 0.5em;
    font-size: 1.5em;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: var(--icon-hover-color);
}

#theme-toggle {
    background: var(--button-bg-color);
    color: var(--button-text-color);
    border: none;
    padding: 0.5em 1em;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
    margin-left: 1em;
    margin-right: 1em;
}

#theme-toggle:hover {
    background: var(--button-hover-bg-color);
    color: var(--button-hover-text-color);
}

main {
    padding: 2em;
    flex: 1;
}

section {
    margin-bottom: 2em;
}

h1, h2 {
    color: var(--primary-color);
    text-align: center;
}

p {
    color: var(--text-color);
    text-align: center;
}

#about {
    width: 50%; /* Set the desired width */
    margin: 0 auto; /* Center the section horizontally */
    padding: 1em; /* Adjust padding */
}

#home {
    width: 50%;
    margin: 0 auto;
    padding-bottom: 3em;
}

#work-experience {
    padding-top: 1em;
}

/* Project Styles */
.projects-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    row-gap: 2em;
    justify-content: center;
}

.project {
    display: flex;
    position: relative;
    flex: 1 1 calc(50% - 1em); /* Three items per row */
    flex-direction: column;
    margin: 0;
    border: 1px solid var(--project-border);
    border-radius: 4px;
    background: var(--project-bg);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s, background 0.3s, border-color 0.3s;
    min-width: 500px;
    max-width: 550px;
    min-height: 200px;
    max-height: 250px;
    padding: 2em; 
    padding-bottom: 50px;
}

.project:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.project h3 {
    margin-top: 0;
    color: var(--primary-color);
}

.project p {
    margin: 0.5em 0;
    color: var(--text-color);
}

.project a {
    position: absolute; /* Position link absolutely within project box */
    bottom: 5px; /* Align link to the bottom */
    left: 50%; /* Center link horizontally */
    transform: translateX(-50%); /* Adjust horizontally */
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.project a:hover {
    text-decoration: underline;
}

/* Work Experience Styles */
.work-experience-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}

.work-experience {
    position: relative;
    width: 71.5%;
    padding: 2em;
    margin: 0 auto; /* Center the box horizontally */
    border: 1px solid var(--project-border);
    border-radius: 4px;
    background: var(--project-bg);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s, background 0.3s, border-color 0.3s;
}

.work-experience:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.work-experience h3 {
    text-align: left; /* Align text to the left */
    margin-top: 0;
    color: var(--primary-color);
    display: flex;
    align-items: center;
    position: relative;
}

.work-experience .work-logo {
    width: 30px; /* Adjust the size as needed */
    height: auto;
    margin-right: 10px;
}

.work-experience .work-dates {
    font-size: 0.9em;
    font-style: italic;
    color: var(--text-color);
    position: absolute;
    right: 0; /* Align to the right */
    top: 50%;
    transform: translateY(-50%);
}

.work-experience .brief-description p {
    font-weight: bold;
    padding-top: 1em;
    padding-bottom: 2em;
    width: 60%;
    margin: 0 auto;
}

.work-experience .details {
    display: none;
    padding-top: 1em;
    width: 90%;
    margin: 0 auto;
}

.work-experience .details li {
    text-align: left;
    margin: 0.5em 0;
    color: var(--text-color);
}

.work-experience .toggle-details {
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.work-experience .arrow {
    width: 0;
    height: 0;
    border: solid transparent;
    border-width: 8px;
    border-top-color: var(--primary-color);
    transition: transform 0.3s;
}

.work-experience .toggle-details.active .arrow {
    transform: translateX(-50%) rotate(180deg);
}

.work-experience .details.active {
    display: block;
}

/* Footer Styles */
footer {
    background-color: var(--header-footer-bg);
    color: var(--header-footer-text);
    text-align: center;
    padding: 1em 0;
    margin-top: auto;
    transition: background-color 0.3s, color 0.3s;
}

footer a {
    color: var(--footer-link-color);
    text-decoration: none;
    transition: color 0.3s;
}

footer a:hover {
    text-decoration: underline;
}

/* Email and Phone Number Colors */
body.dark footer p a {
    color: var(--footer-link-color);
}

/* Adjustments for smaller screens */
@media (max-width: 1000px) {
    header {
        padding: 0.5em 0;
    }

    .nav-links {
        flex-direction: column;
        align-items: left;
    }

    .nav-links li {
        margin: 0.5em 0;
    }

    .social-icons {
        flex-direction: column;
        align-items: right;
        margin-top: 1em;
    }

    main {
        padding: 1em;
    }

    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.2em;
    }

    .projects-container, .work-experience-container {
        flex-direction: column;
        align-items: center;
    }

    .project{
        width: 40%; /* Adjust width for smaller screens */
        max-width: 40%; /* Adjust max-width for smaller screens */
        margin-bottom: 1em;
    }

    .work-experience {
        width: 70%; /* Adjust width for smaller screens */
        max-width: 70%; /* Adjust max-width for smaller screens */
        margin-bottom: 1em;
    }

    .work-experience .details {
        padding-top: 0.5em;
    }

    footer {
        padding: 1em 0;
    }

    footer p {
        font-size: 0.8em; /* Adjust font size for smaller screens */
    }
}