
/* General Styles */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

/*Main color theme for light mode*/
:root {
    --background-color: #e6e6fa;
    --text-color: #222222;
    --primary-color: #334b6e;
    --secondary-color: #e0f7fa;
    --accent-color: #007bff;
    --header-footer-bg: #36454f;
    --header-footer-text: #e6e6fa;
    --footer-link-color: var(--background-color);
    --project-bg: #b7bfd2;
    --project-border: #bbb;
    --icon-hover-color: #a1a1af;
    --button-bg-color: var(--background-color);
    --button-text-color: var(--header-footer-bg);
    --button-hover-bg-color: #121212;
    --button-hover-text-color: #ffcc00;
}

/*Main color theme for dark mode*/
body.dark {
    --background-color: #121212;
    --text-color: #ffffff;
    --primary-color: #f8c600;
    --header-footer-bg: #1e1e1e;
    --header-footer-text: #ffcc00;
    --footer-link-color: #f8c600;
    --project-bg: #333333;
    --project-border: #555555;
    --icon-hover-color: #ad8a00;
    --button-bg-color: var(--background-color);
    --button-text-color: var(--primary-color);
    --button-hover-bg-color: #e6e6fa;
    --button-hover-text-color: #36454f;
}

/*Header styles*/
header {
    background-color: var(--header-footer-bg);
    color: var(--header-footer-text);
    padding: 0;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s, color 0.3s;
}

/*Home, About, Projects, Experience*/
nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style: none;
    padding: 0;
    text-align: center;
    margin: 0;
    display: flex;
    align-items: center;
}

.nav-links li {
    display: inline;
    margin: 0 1em;
}

.nav-links li a {
    color: var(--header-footer-text);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-links li a:hover {
    text-decoration: underline;
}

main {
    padding: 2em;
    flex: 1;
}

section {
    margin-bottom: 2em;
}

h1, h2 {
    color: var(--primary-color);
    text-align: center;
}

p {
    color: var(--text-color);
    text-align: center;
}

/*LinkedIn, GitHub*/
.social-icons {
    display: flex;
    align-items: center;
}

.social-icons a {
    color: var(--header-footer-text);
    margin: 0 0.5em;
    font-size: 1.5em;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: var(--icon-hover-color);
}

.main {
    padding: 20px;
}

/*Profile card and background box*/
.content-wrapper {
    display: flex;
    justify-content: center;
}

.background-square {
    background-color: #b7bfd2;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid var(--project-border);
    border-radius: 4px;
    width: 90%;
    max-width: 1000px;
    transition: background-color 0.3s, width 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.background-square h1 {
    font-size: 2.1em; 
    margin-bottom: 20px;
}

.dark .background-square {
    background-color: #444;
}

.profile-card-container {
    display: flex;
    width: 100%;
    margin-top: 20px;
    align-items: center;
}

.profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #a4abbd;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #9298a8;
    margin-right: 20px;
    flex: 1;
    height: 350px;
    justify-content: space-between;
    transition: background-color 0.3s;
}

.dark .profile-card {
    background-color: #555;
    border: 1px solid var(--project-border);
}

.headshot {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    margin-bottom: 10px;
}

.resume-button {
    padding: 10px 15px;
    background-color: #3a3a3a;
    color: #f5f5f5;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s, color 0.3s;
}

.resume-button:hover {
    background-color: #555;
}

.dark .resume-button {
    background-color: #333;
    color: #f8c600;
}

.dark .resume-button:hover {
    background-color: #222;
}

.bio {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.bio p {
    margin: 0;
}

.welcome-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#theme-toggle {
    background: var(--button-bg-color);
    color: var(--button-text-color);
    border: none;
    padding: 0.5em 1em;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
    margin-left: 1em;
    margin-right: 1em;
}

#theme-toggle:hover {
    background: var(--button-hover-bg-color);
    color: var(--button-hover-text-color);
}

#about {
    width: 80%;
    margin: 0 auto;
    padding: 2em;
    padding-top: 2em;
}

#home {
    width: 70%;
    margin: 0 auto;
    padding-bottom: 1em;
}

#work-experience {
    padding-top: 1em;
}

/* Project Styles */
.projects-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    row-gap: 2em;
    justify-content: center;
}

.project {
    position: relative;
    flex: 1 1 calc(50% - 1em); /* Three items per row */
    flex-direction: column;
    margin: 0;
    border: 1px solid var(--project-border);
    border-radius: 4px;
    background: var(--project-bg);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s, background 0.3s, border-color 0.3s;
    min-width: 300px;
    max-width: 550px;
    min-height: 200px;
    max-height: 250px;
    padding: 2em; 
    padding-bottom: 50px;
}

.project:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.project h3 {
    margin-top: 0;
    color: var(--primary-color);
    font-weight: bold;
}

.project .python-logo {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 45px;
    height: auto;
}

.project .c-logo {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 30px;
    height: auto;
}

.project p {
    margin: 0.5em 0;
    color: var(--text-color);
    font-weight: bold;
}

.project a {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.project::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0.15;
    filter: grayscale(100%);
    z-index: 0;
}

.project a:hover {
    text-decoration: underline;
}

.project-1::before {
    background-image: url('images/AQI.webp');
}

.project-2::before {
    background-image: url('images/KMeans.png');
}

.project-3::before {
    background-image: url('images/network.webp');
}

.project-4::before {
    background-image: url('images/riscv.png');
}

/* Work Experience Styles */
.work-experience-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}

.work-experience {
    position: relative;
    width: 71.5%;
    padding: 2em;
    margin: 0 auto;
    border: 1px solid var(--project-border);
    border-radius: 4px;
    background: var(--project-bg);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s, background 0.3s, border-color 0.3s;
}

.work-experience:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.work-experience h3 {
    text-align: left; 
    margin-top: 0;
    color: var(--primary-color);
    display: flex;
    align-items: center;
    position: relative;
}

.work-experience .work-logo {
    width: 30px;
    height: auto;
    margin-right: 10px;
}

.work-experience .work-dates {
    font-size: 0.9em;
    font-style: italic;
    color: var(--text-color);
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.work-experience .brief-description p {
    font-weight: bold;
    padding-top: 1em;
    padding-bottom: 2em;
    width: 60%;
    margin: 0 auto;
}

.work-experience .details {
    display: none;
    padding-top: 1em;
    width: 90%;
    margin: 0 auto;
}

.work-experience .details li {
    text-align: left;
    margin: 0.5em 0;
    color: var(--text-color);
}

.work-experience .toggle-details {
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.work-experience .arrow {
    width: 0;
    height: 0;
    border: solid transparent;
    border-width: 8px;
    border-top-color: var(--primary-color);
    transition: transform 0.3s;
}

.work-experience .toggle-details.active .arrow {
    transform: translateX(-50%) rotate(180deg);
}

.work-experience .details.active {
    display: block;
}

/* Footer Styles */
footer {
    background-color: var(--header-footer-bg);
    color: var(--header-footer-text);
    text-align: center;
    padding: 1em 0;
    margin-top: auto;
    transition: background-color 0.3s, color 0.3s;
}

footer a {
    color: var(--footer-link-color);
    text-decoration: none;
    transition: color 0.3s;
}

footer a:hover {
    text-decoration: underline;
}

/* Email and Phone Number Colors */
body.dark footer p a {
    color: var(--footer-link-color);
}

/* This is nothing... */
footer {
    position: relative;
    padding: 10px;
}

.tiny-button {
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 10px 20px;
    font-size: 12px;
    cursor: pointer;
    background-color: var(--header-footer-bg);
}

.submit-button {
    padding: 10px 20px;
}

/* Overlay styles */
.overlay {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1);
    justify-content: center;
    align-items: center;
    color: white;
}

.overlay h2 {
    color: white;
}

.overlay-content {
    background-color: #333;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.surprise-content {
    background-color: #333;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.close-button,
.close-surprise-button {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 20px;
}

.keypad {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 20px 0;
}

.keypad-button {
    width: 60px;
    height: 60px;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.keypad-button:nth-child(10) {
    grid-column: 2;
}

#secret-input {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
}

.hidden {
    display: none;
}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
    header {
        padding: 5.5em 0;
    }

    .background-square {
        width: 130%;
    }

    .profile-card-container {
        flex-direction: column;
        align-items: center;
    }

    .profile-card {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .bio {
        text-align: center;
    }

    .nav-links {
        flex-direction: column;
        align-items: left;
    }

    .nav-links li {
        margin: 0.5em 0;
    }

    .social-icons {
        flex-direction: column;
        align-items: right;
        margin-top: 1em;
    }

    main {
        padding: 1em;
    }

    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.2em;
    }

    .projects-container, .work-experience-container {
        flex-direction: column;
        align-items: center;
    }

    .work-experience .project .projects-container{
        width: 70%;
        max-width: 70%;
        margin-bottom: 1em;
    }

    .projects-container {
        justify-content: space-between;
    }

    .project {
        flex: 1 1 calc(50% - 1em);
        max-width: calc(50% - 1em);
    }

    .work-experience h3 {
        margin-top: 0;
        color: var(--primary-color);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .work-experience .work-dates {
        font-size: 0.9em;
        font-style: italic;
        color: var(--text-color);
        margin-top: 0.5em;
        flex-direction: column;
        align-items: flex-start;
        top: 2%;
    }

    .work-experience .details {
        padding-top: 0.5em;
    }

    footer {
        padding: 1em 0;
    }

    footer p {
        font-size: 0.8em; 
    }
}
